@font-face {
  font-family:"PixelOperator";
  src:url(font/PixelOperator.ttf)
}
body {
  background-color:#131313;
  color:#00E600;
  font-family:"PixelOperator", monospace;
  margin:auto;
}
a:hover,
a:visited,
a:link,
a:active {
  color:#FF33CC;
  text-decoration:none;
  font-size:16px;
}
p {
  color:#FFFFFF;
  text-align:center;
  font-size:16px;
}
h1 {
  text-align:center;
  font-size:32px;
}
h2 {
  text-align:center;
  font-size:32px;
}
h3 {
  text-align:center;
  font-size:24px;
}
h6 {
  text-align:center;
  font-size:18px;
}
.centered {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.startpagelinkbox {
  padding:7px;
  position:relative;
  margin:auto;
  outline:#CCCCCC solid 1px;
  display:table;
  font-size:24px;
}
#startpagelink {
  font-size:24px;
  display:inline;
}
#searchbar {
  text-align:center;
  margin:3%;
}
#searchquery {
  background-color:#131313;
  font-size:16px;
  color:#FFFFFF;
  font-family:"PixelOperator",monospace;
}
header {
  width:100%;
  height:30%;
}
.navmenu {
  text-align:center;
  position:relative;
}
.introcontainer {
  margin-top:1%;
  display:inline-flex;
  justify-content:center;
  width:100%;
}
.pfp {
  width:10%;
  height:10%;
}
.intro {
  margin:1%;
}
.wallpaper {
  width:100%;
  height:100%;
  position:absolute;list">
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </li>
  {% endfor %}
</ul>
  opacity:10%;
  object-fit:cover;
  z-index:-1;
}
img[alt=image] {
  width:20%;
  height:20%;
  margin:left;
  margin:right;
}
.blog-post p {
  text-align:left;
  margin:0rem 20rem;
}
p.summary {
  text-align:center;
}

#bloglist {
  list-style: none;
}

.blog-post img {
  border:gray;
  border-style:groove;
  margin:1rem auto;
  width:15rem;
  display:block;
}
.blog-post li {
  text-align:left;
  margin:0rem 20rem;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.ftcontainer {
  display:flex;
  flex-direction:row;
  gap:1rem;
  margin-left:10%;
  margin-right:1rem;
  align-items:center;
}

.buttons {
  flex: 0 0 auto;
}

.buttons img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.text {
  flex-grow: 1;
}

.text p{
  color: gray;
}

@media (max-width: 700px) {
  .pfp {
    width:30%;
    height:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .introcontainer {
    display:contents;
  }
  .intro {
    margin:10%;
  }
  .wallpaper {
    width:100%;
  }
  img[alt=image] {
    width:50%;
    height:50%;
  }

  .blog-post p {
    text-align:left;
    margin:0rem 1rem 0rem;
    font-size: 13px;
  }
  .blog-post a{font-size: 13px;}
  .blog-post li {
    text-align:left;
    margin:0rem 0rem
  }
  p.summary {
    text-align:center
  }
  .ftcontainer {
    flex-direction:column;
    align-items: baseline;
  }
}
