<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
        <link href="{{ "/assets/css/style.css" | relative_url }}" rel="stylesheet" type="text/css" media="all">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img class="wallpaper" src="{{ "/assets/img/wallpaper.png" | relative_url }}"></img>
        <header>
            {% include header.html %}
        </header>
        <main>{{content}}</main>
        <footer>
            <div class="footergroup">
                <div class="text">
                    <p>footer</p>
                </div>
                <div class="buttons">
                    <img src="{{ "/assets/img/buttons/poweredbylinux_xenia.png" | relative_url }}"></img>
                    <img src="{{ "/assets/img/buttons/poweredbylinux_xenia.png" | relative_url }}"></img>
                    <img src="{{ "/assets/img/buttons/poweredbylinux_xenia.png" | relative_url }}"></img>
                </div>
            </div>
        </footer>
    </body>
</html>
